.kt-aside-menu{
	background:rgba(8, 87, 154, .90) !important;
}

.kt-content{
 margin-top:-60px;
}
.kt-menu__item.active{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.kt-menu__item.active .kt-menu__link .kt-menu__link-icon{
	color: #5d78ff !important;
}
.kt-menu__item.active .kt-menu__link .kt-menu__link-text{
    color: #fff !important;
}
.kt-menu__item.active .kt-menu__link{
	background-color: #ffffff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__section .kt-menu__section-text {
	font-size:18px;
    color: #fff;
}
.kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
}
.kt-aside__brand{
	background-color: #fff;
}
.kt-aside .kt-aside-menu{
	margin-top:0px;
}
.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > .kt-grid__item{
	min-height:90px;
}
.kt-header-second{
min-height:90px;
}
.kt-header-second .kt-header-menu-wrapper{
	width:70%;
}
 .kt-header-second .kt-header-menu-wrapper .kt-aside__brand-logo{
	margin-left:50%;
}

.kt-aside__brand-aside-toggler{
   float: right;
    background: none;
    border: none;
    color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__section{
	margin:0;

}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon{
	color:#fff;
	font-size:14px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
    font-size:14px;
}


.menu-divider{
	border-bottom:1px solid #a2a3b7;
	margin-top: 4px;
    margin-bottom: 4px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link{
	background:none !important;
}
.kt-menu__item.active .kt-menu__link{
	background:none !important;
}
.kt-menu__item.active .kt-menu__link .kt-menu__link-icon{
	color:#fff !important;
}

.form-spacing{
	padding: 0 15px 0 15px;
}

.topnav {
	background-color: #fff;
	overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: black; /*rangi ya text*/
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #3069AB;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
.bootstrap-select.show-tick.form-control.selectdropdown {
    max-width: 503px !important;
}
.dropdown-menu.open.show{
    max-height:unset !important;
    transform: translate3d(0px, 50px, 0px) !important;
}

.dropdown.bootstrap-select .dropdown-menu .inner.open{
    max-height:unset !important;
    height:300px !important;
}

.dropdown.bootstrap-select .dropdown-menu .inner.open .dropdown-menu.inner{
    display:block !important;
    padding-left: 3%;
}
.dropdown.bootstrap-select .dropdown-menu .inner.open .dropdown-menu.inner li a{
    color:#000;
}
