<template>
  <div id="ppic">
    <div class="image" v-bind:style="{ backgroundImage: 'url(public/uploads/' + current + ')' }"></div>
    <form
      id="ppic_form"
      :action="action"
      method="POST"
      enctype="multipart/form-data"
      class="text-center">
      <slot></slot>
      <button v-on:click.prevent="upload">
        Upload image <i class="fas fa-upload"></i>
      </button>
      <input type="file" id="ppic_upload" name="ppic" style="display: none;">
    </form>
    <p> Upload a professional picture of yourself in the png or jpg format and a maximum size of 2MB.</p>
  </div>
</template>

<style lang="scss" scoped>
#ppic {
  margin: 25px 0;
}
.image {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}
p {
  color: #1c7187;
}
button {
background: #3069ab;
    color: white;
    float: right;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 8px;
    margin: 2rem 0;
  i {
    padding-right: 7px;
  }
}
</style>


<script>
export default {
  props: ["current", "action"],
  methods: {
    upload: function() {
      document.getElementById("ppic_upload").onchange = function() {
        document.getElementById("ppic_form").submit();
      };
      $("input[id='ppic_upload']").click();
    }
  }
};
</script>
