<template>
  <div id="ppic">
    <div class="image" v-bind:style="{ backgroundImage: 'url(public/uploads/' + current + ')' }"></div>
    <form
      id="ppic_form"
      :action="action"
      method="POST"
      enctype="multipart/form-data"
      class="text-center">
      <slot></slot>
      <button v-on:click.prevent="upload">
        <i class="fas fa-edit"></i> Edit image
      </button>
      <input type="file" id="ppic_upload" name="ppic" style="display: none;">
    </form>
  </div>
</template>

<style lang="scss" scoped>
#ppic {
  margin: 5px 0;
}
.image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}
p {
  color: #1c7187;
}
button {
background: transparent;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #fff;
    width: 80%;
    margin-top: 10px;
  i {
    padding-right: 7px;
  }
}
</style>


<script>
export default {
  props: ["current", "action"],
  methods: {
    upload: function() {
      document.getElementById("ppic_upload").onchange = function() {
        document.getElementById("ppic_form").submit();
      };
      $("input[id='ppic_upload']").click();
    }
  }
};
</script>
